APScheduler==3.9.1
natsort==8.1.0
numpy==1.21.5
opencv_python==4.5.5.64
pandas==1.3.5
PyExecJS==1.5.1
pygtrans==1.4.0
requests==2.27.1
tqdm==4.64.0
openpyxl==3.0.10
XlsxWriter==3.0.3
watchdog==2.1.9

